body {
    background-image: linear-gradient(
        180deg,
        #006400 5%,
        #90EE90 20%,
        #00FF7F 60%,
        #00CED1 95%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

#imagem1 {
    height: 300px;
    margin: 15px 0;
    width: 300px; 
       
}

main > section button {
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: EuclidBold;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 15px;
    padding: 9px 23px;
    text-transform: uppercase;
}

#detalhes-container1 {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
    object-fit: cover;
}

#detalhes-container1 > li {
    align-items: baseline;
    display: flex;
}


#detalhes-container1 > li p {
    color: white;

}

