
body {
    background-image: linear-gradient(
        180deg,
        #006400 5%,
        #90EE90 20%,
        #00FF7F 60%,
        #00CED1 95%
    );
    margin: 0;
    min-height: 400vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

#imagem1 {
    height: 300px;
    margin: 15px 0;
    width: 300px; 
    padding: 20px;
       
}

#imagem2 {
    height: 300px;
    margin: 15px 0;
    width: 300px;
    padding: 20px;
    
    
}

#imagem3 {
    height: 300px;
    margin: 15px 0;
    width: 300px;
    padding: 20px;
        
}

main > section button {
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
    font-weight: bold;
    letter-spacing: 3.6px;
    line-height: 15px;
    padding: 9px 10px;
    text-transform: uppercase;
    width: 100%; 
       
}

#detalhes-container1 {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
    height: 180px;
}

#detalhes-container1 > li {
    align-items: baseline;
    display: flex;
}


#detalhes-container1 > li p {
    color: white;

}


#detalhes-container2 {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
    height: 150px;
    
}

#detalhes-container2 > li {
    align-items: baseline;
    display: flex;
}


#detalhes-container2 > li p {
    color: white;

}

#detalhes-container3 {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
    height: 180px;
}

#detalhes-container3 > li {
    align-items: baseline;
    display: flex;
}


#detalhes-container3 > li p {
    color: white;

}

